@model eCommerceExample.Features.Browse.BrowseViewModel
@{
    ViewData["Title"] = "Browse";
}

<div class="container body-container">
    
    <div class="row my-5">

        <!--Search and filters-->
        <form id="frmSearch" asp-controller="Browse" asp-action="Search" method="get">
            <div id="dvSearchFilter" class="row">
                <div class="col-6 d-flex align-items-center">
                    <input id="txtSearch" asp-for="SearchTerm" class="form-control" placeholder="Search by Title, Author, ISBN..." />
                </div>
                <div class="col-2">
                    <button type="submit" class="btn custom-btn">Search</button>
                </div>
                <div class="form-check form-switch d-flex justify-content-end">
                    <input class="form-check-input" type="checkbox" role="switch" id="chkSwitchView">
                    <label class="form-check-label mx-2" for="chkSwitchView">Toggle List/Card View</label>
                </div>
            </div>
        </form>
        
        <!--Card View-->
        <div id="dvCardView" class="row">
            @if(Model.BookList != null && Model.BookList.Count() > 0)
            {
                @await Html.PartialAsync("_CardView", Model.BookList)
            }
        </div>
        <!--List View-->
        <div id="dvListView" class="row" hidden>
            @if(Model.BookList != null && Model.BookList.Count() > 0)
            {
                <table id="tblListView" class="table table-sm table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model.BookList)
                        {
                            <tr>
                                <td>
                                    <a href="/ViewBook/@book.BookID">View</a>
                                </td>
                                <td>@book.BookTitle</td>
                                <td>@book.Author</td>
                                <td>@book.Price.ToString("0.00")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $('#tblListView').dataTable({
                "searching": false
            });
        });

        $("#chkSwitchView").change(function() {
            var state = $('#chkSwitchView').is(":checked");
            console.log(state);
            if(state == true){
                $('#dvCardView').attr("hidden", true);
                $('#dvListView').attr("hidden", false);
            }
            else{
                $('#dvListView').attr("hidden", true);
                $('#dvCardView').attr("hidden", false);
            }
        });
    </script>
}