@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-container">
    <!--Home Carousel-->
    <section class="section-padding">
        <div class="row col-lg-12 col-md-12">
            <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Spring Sale!</h1>
                                <p>Placeholder for banner</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>What are People Reading?</h1>
                                <p>Placeholder for banner</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>Join our team!</h1>
                                <p>Placeholder for banner</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <!--Shop by Category Cards-->
    <section class="section-padding">
        <div class="row col-lg-12 col-md-12 mb-5">
            <div class="col-sm-12 col-md-6 col-lg-4 text-center">
                <a href="#">
                    <img class="img-circle75" alt="Placeholder image" src="~/images/Card_Placeholder.png" width="100%">
                </a>
                <h3 class="primary-color">Hot Reads</h3>
                <p>Check out what other people are reading right now!</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 text-center">
                <a href="#">
                    <img class="img-circle75" alt="Placeholder image" src="~/images/Card_Placeholder.png" width="100%">
                </a>
                <h3 class="primary-color">AAPI Month</h3>
                <p>Celebrate AAPI Month with picks by Asian-American and Pacific Islander!</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 text-center">
                <a href="#">
                    <img class="img-circle75" alt="Placeholder image" src="~/images/Card_Placeholder.png" width="100%">
                </a>
                <h3 class="primary-color">Staff Picks</h3>
                <p>Enjoy these reads handpicked by our staff!</p>
            </div>
        </div>
    </section>
</div>
